.xmas {
  font-family: 'Mountains of Christmas', cursive;
}

.rocker {
  font-family: 'New Rocker', cursive;
}

.amatica {
  font-family: 'Amatica SC', cursive;
}

.buda {
  font-family: 'buda', cursive;
}


.moody-red {
  color: $moody-red;
}

.deathkiss-red {
  color: $deathkiss-red;
}
